   @media only screen and (max-width: 1000px) {
   
           #menu{
           grid-template-columns:40% 60%;
           font-size:35px;
           position:relative;
           height:10vh;
        
          }
          #menu>#r5{
           display: none;
          }
          #menu>#r4{
           display: none;
          }
          #menu>#r3{
           display: none;
          }
        #info{
            font-size:35px;
                width: 100vw;

               

		    padding-top: 2vh;

		    padding-bottom:5vh;

	            display:grid;

                    grid-template-columns: 5% 90% 5% ;

        }
        
        
		#info>#con>#img{

    	        

                        background-image:url(/Imagenes/programacion/p1.png);

                        background-size:100% 100%;	

                        background-repeat:no-repeat;

                        background-position: center center;

                        height:500px;

                        display: flex;

                        justify-content: center;

                        align-items: center;

                

                }



    #info>#con>a{

                  

                        border-style: solid;

                        border-color: rgb(16,6,90);     

                        display: grid;

                        align-content: center;

                        justify-items: center;

                        margin-left: 5%;

                        margin-right: 5%;

			padding-top:2%;

			padding-bottom:2%;
			
			padding-left:2%;

                        color:rgb(16,6,90);

                }
        
        }
 
