
        @media only screen and (max-width: 1000px) {
        #menu{
           grid-template-columns:40% 60%;
           font-size:35px;
           position:relative;
           height:10vh;
        
          }
          #menu>#r5{
           display: none;
          }
          #menu>#r4{
           display: none;
          }
          #menu>#r3{
           display: none;
          }
          
          header{
            display: grid;
            grid-template-rows: 20% 80%;
            grid-template-columns:100%;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 1%;
            margin-bottom: 1%;
            font-size:35px;
            height:80vh;
        
        }
        header>#I1>#im2,header>#I1>#casa{
            display:none;
        }
        header>#I1{
         border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        display: grid;
        color:white;
        background-color: rgba(47,65,89,1);
        grid-template-rows:  100%;
        justify-items: center;
        align-items: center;
        padding-left: 0%;
        margin-left: 0%;
        
        }
        
        
    header>#I2 {
        
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-color:white;
        display: grid;
        color:rgba(47,65,89,0.9);
        border-color: rgba(47,65,89,0.9);
        border-style: solid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(15, 1fr);
        align-items: center;
        justify-items: center;
        margin-right: 0%;
        padding-top:5%;
        padding-bottom:5%;

    }
    
    header>#I2>a{
        width:70%;
        padding-bottom:4%;
    }
     
        }
